<h5> Compartilhando os componentes</h5>

<input type="text" #cursoInput>
<button (click)="onAddCurso(cursoInput.value)">Adicionar Cursos</button>

<ul>
    <li *ngFor="let curso of cursos">
        {{ cursos }}
    </li>
</ul>

<app-receber-curso-criado></app-receber-curso-criado>